
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown.min.css">  
  <title>Computer Vision Portfolio</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet">
<link href="./static/custom.css" rel="stylesheet">
</head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
        </ul>
      </div> 
    </div>
  </nav>
</header>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="title-image-container">
          <img src="./static/assets/images/computer_vision_poster_logo.png" class="img-responsive" alt="">
        </div>
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">Computer Vision Portfolio</h1>
          </div>
          <p>Tech Stacks...OpenCV and other essential vision tools and state-of-the-art object detection from the YOLO family (v5, v8, v11, v12, NAS) to transformer-based architectures like RF-DETR.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="width: 90%; margin: 0 auto;">
      <div class="row">
          <div class="col-xs-12">
              <div class="text-center">
                  <h2 class="h2">Video Gallery</h2>
              </div>
              <div id="video-gallery" class="video-section"></div>
              <div class="text-center" style="margin-top: 30px;">
                  <h2 class="h2">Image Gallery</h2>
              </div>
              <div class="image-section" style="margin-bottom: 30px;">
                  <div class="row" style="margin-bottom: 10px;">
                      <div class="col-md-6">
                      <a href="https://ibb.co/LzRfJ52J" target="_blank"><img src="https://i.ibb.co/xSLQfHRf/custom-obj-detect-drone-image.png" class="img-responsive zoom-effect" alt="custom-obj-detect-drone-image" border="0"></a>  
                      </div>
                      <div class="col-md-6">
                      <a href="https://ibb.co/qY8c8HHn" target="_blank"><img src="https://i.ibb.co/m5K2KnnB/drone-boat.png" class="img-responsive zoom-effect" alt="drone-boat" border="0"></a>
                      </div>
                  </div>
                  <div class="row" style="margin-bottom: 10px;">
                      <div class="col-md-6">
                      <a href="https://ibb.co/DP0VCKff" target="_blank"><img src="https://i.ibb.co/twVmsCpp/drone-captured-image-vehicle.png" class="img-responsive zoom-effect" alt="drone-captured-image-vehicle" border="0"></a>
                      </div>
                      <div class="col-md-6">
                      <a href="https://ibb.co/HDKkqR77" target="_blank"><img src="https://i.ibb.co/nsw5j4rr/human-activity-recognition.png" class="img-responsive zoom-effect" alt="human-activity-recognition" border="0"></a>
                      </div>
                  </div>
                  <div class="row" style="margin-bottom: 10px;">
                      <div class="col-md-6">
                      <a href="https://ibb.co/8n4CZnjW" target="_blank"><img src="https://i.ibb.co/0pV7bpfg/ppe-detection.jpg" class="img-responsive zoom-effect" alt="ppe-detection" border="0"></a>
                      </div>
                      <div class="col-md-6">
                        <a href="https://ibb.co/L4htHB2" target="_blank"><img src="https://i.ibb.co/Sq7nGH9/public-place.jpg" class="img-responsive zoom-effect" alt="public-place" border="0"></a>
                      </div>
                  </div>
                  <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-6">
                      <a href="https://ibb.co/sJd2yYB0" target="_blank">
                        <img src="https://i.ibb.co/R4k9zw5x/potholes-detection.png" class="img-responsive zoom-effect" alt="potholes-detection" border="0">
                      </a>
                    </div>
                    <div class="col-md-6">
                      <a href="https://ibb.co/ZpgGrbtx" target="_blank">
                        <img src="https://i.ibb.co/Kpsbg8RW/potholes-detection-2.png" class="img-responsive zoom-effect" alt="potholes-detection-2" border="0">
                      </a>
                    </div>
                  </div>
                  <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-6">
                      <a href="https://ibb.co/hx1GNqPT" target="_blank"><img src="https://i.ibb.co/0pV0Lwgz/val-batch1-labels.jpg" class="img-responsive zoom-effect" alt="val-batch1-labels" border="0"></a>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
     fetch('../static/videos.json')
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(videos => {
            const videoGallery = document.getElementById('video-gallery');
            let row;
            videos.forEach((video, index) => {
                if (index % 2 === 0) {
                    row = document.createElement('div');
                    row.className = 'row';
                    row.style.marginBottom = '10px';
                    videoGallery.appendChild(row);
                }
                const col = document.createElement('div');
                col.className = 'col-md-6';
                col.innerHTML = video.embedHtml;
                row.appendChild(col);
            });
        })
        .catch(error => {
            console.error('There has been a problem with your fetch operation:', error);
        });
  });
</script>

<script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>
